    <div class="mt-4">
        <h4><strong><a href="/blogs/{{id}}">{{title}}</a></strong></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
            <p class="text-muted blog-text">
              {{blog_text}}
            </p>
              
    </div>
        